<form name="myForm">
    <div>
        <div class="loginD-top">登录</div>
        <div class="col-xs-12 loginD-content">
            <input type="text" class="form-control " required name="username" placeholder="用户名" ng-model="user.username">
        </div>
        <div class="col-xs-12 loginD-content">
            <input type="password" class="form-control" required name="password" placeholder="密码" ng-model="user.password">
        </div>
        <a class=" btn btn-success loginD-content-l" ng-click="loginClick()"
           ng-disabled="!myForm.password.$valid||!myForm.username.$valid">登录</a>

        <div style="margin-top: 9px;">
            <a href="###" class="loginD-bottom-left"><small>忘记密码</small></a>
            <a href="fastregister.html" class="loginD-bottom-right"><small>注册</small></a>
        </div>
    </div>
</form>
