<div class="focusMain isFocus demoG">
    <a class="focusBtn focusPrev" href="javascript:;"></a><a class="focusBtn focusNext"
        href="javascript:;"></a>
    <div class="focusArea">
        <div class="focusCon" >
        <h3>{{images}}</h3>
            <div class="focusItem" ng-repeat="image in images">
                <h4 class="title">
                    <a>{{image.oldName}}</a></h4>
                <a>
                    <img ng-src="{{image.path2}}" alt="" /></a>
            </div>
        </div>
    </div>
    <div class="focusIndicators" >
        <a href="javascript:;" ng-repeat="image in images">
            <img ng-src="{{image.path2}}" alt="" /></a>
    </div>
</div>
