<div class="header">
    <div header-d>
    </div>
</div>
<div class="content-wrapper tiles indigo" style="width: 1480px;">
    <h2 > <a class="glyphicon  glyphicon-chevron-left" ng-click="notePrev()" style="cursor:pointer"></a>
    <span style="">上·下[服务器渣，加载较慢]</span>
    <a class="glyphicon glyphicon-chevron-right" ng-click="noteNext()" style="cursor:pointer"></a> 
    </h2>

    <div class="live-tile two-wide exclude" ng-repeat="note in notes">
        <div ng-click="showNote(note)" style="cursor:pointer;">
        <!--    <p ng-bind-html="note.noteContent"></p>-->
            <p ng-bind="note.noteTitle"></p>                        
        </div>
    </div>
</div>
<footer footer-menu></footer>
