<!DOCTYPE html>
<html ng-app="shareuploadThreeApp">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
   <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="img/logo.ico" />
    <link href="css/sl-header.css" rel="stylesheet" type="text/css" />
    <link href="css/sl-upload.css" rel="stylesheet" type="text/css" />
    <!--metro-->
    <link rel="stylesheet" href="js/metrojs/site.css" type="text/css" />
    <link rel="stylesheet" href="js/metrojs/dg-font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="js/metrojs/MetroJs.css" type="text/css" />
    <script src="js/jquery-1.10.2.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/metrojs/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="js/metrojs/global.js"></script>
    <script type="text/javascript" src="js/metrojs/ga.js"></script>
    <script src="js/metrojs/MetroJs.js" type="text/javascript"></script>
    <!--metro-->
    <!--bootstrap-->
    <link rel="stylesheet" href="js/bootstrap/bootstrap-3.1.1/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="js/bootstrap/bootstrap-3.1.1/css/bootstrap-theme.min.css"
        type="text/css" />
    <script src="js/bootstrap/bootstrap-3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
    <!--bootstrap-->
    <script src="angularjs/1.3.0/angular.min.js" type="text/javascript"></script>
    <script src="angularjs/1.3.0/angular-cookies.min.js" type="text/javascript"></script>
    <!--    <script src="angularjs/1.3.0/angular-route.min.js" type="text/javascript"></script>-->
    <script src="angularjs/1.3.0/angular-resource.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="./angularjs/App/shareUploadThreeApp.js"></script>
    <script type="text/javascript" src="./angularjs/Controllers/UploadThreeController.js"></script>
    <script type="text/javascript" src="./angularjs/Directives/headerDirective.js"></script>
    <script type="text/javascript" src="./angularjs/Directives/menuAD.js"></script>
    <script type="text/javascript" src="./angularjs/Servers/loginServices.js"></script>
    <script type="text/javascript" src="./angularjs/Servers/UploadServices.js"></script>
    <script type="text/javascript" src="angularjs/Servers/baseurl.js"></script>
    <script type="text/javascript">
    </script>
</head>
<body ng-controller="uploadThreeController">
    <div class="header">
        <div header-d>
        </div>
    </div>
    <div>
    </div>
    <div class="center">
        <div class="col-md-12">
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <legend>作品介绍 </legend>
        </div>
        <div class="col-md-11">
            <div ng-repeat="item in items">
                <div class="col-md-12" style="margin-bottom: 18px;">
                    <!-- <div class="col-md-3 ">
                       <span class="" style="display: none" ng-bind="item.sort"></span>
                      
                    </div>-->
                    <div class="col-md-10">
                        <div>
                            {{item.oldName}}</div>
                        <input type="text" class="col-md-12 form-control" ng-model="item.title" placeholder="主题" />
                        <textarea class="col-md-12 form-control" rows="4" ng-model="item.remark" placeholder="介绍"></textarea>
                    </div>
                    <div class="col-md-2" style="margin-top: 98px;">
                        <div class="btn btn-sm btn-success" style="width: 50px;" ng-click="submitItem(item)">
                            提交</div>
                        <div class="btn btn-sm btn-danger" ng-click="deleteItem(item)">
                            删除
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn btn-success col-md-1" ng-click="nextstep()" style="float: right;">
            下一步</div>
    </div>
    </div>
    <script type="text/javascript" src="./angularjs/Directives/footer.js"></script>
    <footer footer-menu></footer>
</body>
</html>
